// @import "~antd/dist/antd.css";
@import "~antd/dist/antd.less";

body {
  margin: 0;
}

.app {
  &_welcome {
    padding: 0px 20px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    &_wrapper {
      text-align: center;
    }
  }
  &__fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;    
    box-shadow: 0px 5px 21px 0px rgba(0, 0, 0, 0.13);
    z-index: 2
  }
 
  
  &__layout {
    max-width: 1024px;
    margin: 0 auto;
  }

  &__result {
    margin-top: 250px;
    &_text {
      margin-bottom: 20px;
      display: flex;
      flex-direction: row;
      align-items: baseline;
      // &:last-child {
      //   margin: 0
      // }
      &_date {
        font-size: 10px;
        margin-bottom: 2px;
        opacity: .3;
        width: 130px;
      }
      &_word {
        font-size: 16px;
        color: #000;
        margin-left: 20px;
      }
    }
  }
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  color: #fff;
}

.control {
  &_top-label {
    font-size: 10px;
    // line-height: 15px;
    margin-bottom: 4px;
  }
}
